@use 'sass:math';
@mixin alert {
  padding: $base-padding * 1.5;
  // background: $alert-bg;
  border-radius: $base-radius;
  margin: 0.5rem 0;
  border-width: 3px;
  border-style: solid;
  width: 100%;
  // @if ($alert-bg==white) {
  //   border-color: black;
  //   color: black;
  // } @else if($alert-bg==black) {
  //   border-color: white;
  //   color: white;
  // } @else {
  //   color: darken($alert-bg, 45);
  //   border-color: darken($alert-bg, 35);
  // }
  text-align: center;
  font-size: $base-font-size;
  letter-spacing: 1px;
  font-weight: 500;
  .alert-link {
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    padding: $base-padding;
    font-size: math.div($base-font-size, 1.25);
  }
}
.alert {
  @include alert;
  background: #c3c3c3;
  color: darken(#c3c3c3, 45);
  border-color: darken(#c3c3c3, 35);
}
.alert-white {
  @include alert;
  background: white;
  color: black;
  border-color: black;
}
.alert-black {
  @include alert;
  background: black;
  color: white;
  border-color: white;
}

@each $key, $val in $colors {
  @if (
    $val != black and $val != white and $val != #808080 and $val != transparent
  ) {
    @for $i from 4 through 6 {
      @if ($i != 5) {
        $type: 'dark';
        @if ($i == 6) {
          $type: 'light';
        } @else {
          $type: 'dark';
        }
        .alert-#{$key}-#{$type} {
          background: mixW($val, $i * 10);
          color: darken(mixW($val, $i * 10), 45);
          border-color: darken(mixW($val, $i * 10), 35);
        }
      }
    }
  }
}
