@use 'sass:math';

@mixin List($width: 100%, $content: flex-start) {
  width: $width;
  margin: $base-margin * 1.5 0;
  box-shadow: $base-box-shadow;
  border: 0;
  border-radius: $base-radius;
  & .item {
    padding: $base-padding $base-padding * 2.5;
    border-bottom-width: $base-border-thickness;
    border-bottom-style: solid;
    letter-spacing: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: inherit;
    font-size: $base-font-size;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: $content;

    &:first-child {
      border-radius: $base-radius $base-radius 0 0;
    }
    &:last-child {
      border-bottom: none;
      border-radius: 0 0 $base-radius $base-radius;
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    margin: math.div($base-margin, 1.25) 0;
    & .item {
      padding: math.div($base-padding, 1.5) $base-padding;
      font-size: math.div($base-font-size, 1.5);
    }
  }
}

.items {
  @include List;
  background: #c3c3c3;
  color: #444;
  & .item {
    border-bottom-color: #444;
    &:hover {
      color: #c3c3c3;
      background: #444;
    }
  }
}

.items-white {
  background: #fff !important;
  color: black !important;
  & .item {
    border-bottom-color: black !important;
    &:hover {
      color: #fff !important;
      background: black !important;
    }
  }
}
.items-black {
  background: black !important;
  color: #fff !important;
  & .item {
    border-bottom-color: #fff !important;
    &:hover {
      color: black !important;
      background: #fff !important;
    }
  }
}

.items-between {
  @include List($content: space-between);
  background: #c3c3c3;
  color: #444;
  & .item {
    border-bottom-color: #444;
    &:hover {
      color: #c3c3c3;
      background: #444;
    }
  }
}

@each $key, $val in $colors {
  @if (
    $val != black and $val != white and $val != #808080 and $val != transparent
  ) {
    .items-#{$key} {
      @if $val == #d70000 {
        background: lighten($val, 35) !important;
      } @else if $val == #ed7014 or $val ==#f6c31c {
        background: lighten($val, 30) !important;
      } @else {
        background: lighten($val, 55) !important;
      }
      color: #444 !important;
      & .item {
        border-bottom-color: #444;
        &:hover {
          @if $val == #d70000 {
            color: lighten($val, 35) !important;
          } @else if $val == #ed7014 or $val ==#f6c31c {
            color: lighten($val, 30) !important;
          } @else {
            color: lighten($val, 55) !important;
          }
          background: #444 !important;
        }
      }
    }
    .items-sm {
      @include List(400px);
    }
    .items-lg {
      @include List(600px);
    }

    .items-between-sm {
      @include List(400px, space-between);
    }
    .items-between-lg {
      @include List(600px, space-between);
    }
  }
}
